<!DOCTYPE html>
<html>
  <head>
    <title>Game Week {{ game_week }}</title>
  </head>
  <body>
    <h1>Game Week {{ game_week }}</h1>
    <table>
      <thead>
        <tr>
          <th>Home Team</th>
          <th>Score</th>
          <th>Away Team</th>
        </tr>
      </thead>
      <tbody>
        {% for home_team, away_team in game_week_fixture %}
        <tr>
          <td>{{ home_team }}</td>
          <td>-</td>
          <td>{{ away_team }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <h2>League Table</h2>
    <table>
        <thead>
          <tr>
            <th>Team</th>
            <th>Played</th>
            <th>Won</th>
            <th>Drawn</th>
            <th>Lost</th>
            <th>GF</th>
            <th>GA</th>
            <th>GD</th>
            <th>Points</th>
          </tr>
        </thead>
        <tbody>
          {% for team, data in league_table %}
            <tr>
              <td>{{ team }}</td>
              <td>{{ data["Played"] }}</td>
              <td>{{ data["Won"] }}</td>
              <td>{{ data["Drawn"] }}</td>
              <td>{{ data["Lost"] }}</td>
              <td>{{ data["GF"] }}</td>
              <td>{{ data["GA"] }}</td>
              <td>{{ data["GD"] }}</td>
              <td>{{ data["Points"] }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>